<!-- Header -->

<header class="header">
  <div class="container background-container">
    <div class="header-content">
      <img src="path/to/your/logo.png" alt="Logo" class="logo">
      <div class="hospital-info">
        <h1>Your Hospital Name</h1>
      </div>
    </div>
  </div>
</header>

<body><router-outlet></router-outlet></body>


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
