/* Importation de Bootstrap */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Style pour le conteneur avec image de fond */
.login-background {
  background-image: url('assets/assets/images/A.jpg'); /* Remplace avec le chemin vers ton image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Assure que le conteneur couvre toute la hauteur de la vue */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style pour le formulaire */

/* Style spécifique pour le formulaire */
.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


/* Style pour le container avec une couleur de fond */
.background-container {
  background-color: #ffffff; /* Couleur de fond pour le container */
  padding: 20px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis (optionnel) */
  width: 100%; /* Prend toute la largeur disponible */
}
/* Style pour le container à l'intérieur du header */
.header .container {
  display: flex; /* Utilisation du Flexbox */
  align-items: center; /* Alignement vertical */
  justify-content: space-between; /* Espacement entre les éléments */
}

/* Style pour le contenu de l'en-tête */
.header-content {
  display: flex; /* Utilisation du Flexbox */
  align-items: center; /* Alignement vertical */
}

/* Style pour le logo */
.logo {
  width: 80px; /* Ajuster la taille du logo */
  height: auto; /* Maintien du ratio d'aspect */
  margin-right: 20px; /* Espacement à droite du logo */
}

/* Style pour les informations de l'hôpital */
.hospital-info {
  text-align: left; /* Alignement du texte */
}

.hospital-info h1 {
  margin: 0; /* Suppression de la marge par défaut */
  font-size: 24px; /* Taille du texte du titre */
  color: #217ba1; /* Couleur du texte */
  font-weight: bold; /* Poids du texte en gras */
}

.hospital-info p {
  margin: 0; /* Suppression de la marge par défaut */
  font-size: 16px; /* Taille du texte du sous-titre */
  color: #666; /* Couleur du texte */
}

